{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["react-app", "airbnb-typescript", "prettier", "prettier/react"],
  "plugins": ["@typescript-eslint", "import", "jsx-a11y", "react-hooks", "prettier"],
  "settings": {
    "import/extensions": [".js", ".ts", ".jsx", ".tsx"],
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/indent": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "react/prop-types": ["off"],
    "@typescript-eslint/no-unused-vars": ["warn"]
  }
}
