{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "plugin:react/all",
    "plugin:import/errors",
    "plugin:import/typescript",
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "jsx-a11y", "prettier", "import", "react"],
  "settings": {
    "import/extensions": [".js", ".ts", ".jsx", ".tsx"],
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/indent": ["off"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "react/prop-types": "off",
    "arrow-parens": ["error", "always"],
    "prettier/prettier": ["error"],
    "import/no-named-as-default": ["off"],
    "import/no-extraneous-dependencies": ["off"]
  }
}
